body {
  background-color: #22252C;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
  color: #FFF;
}

a, p, li{
  font-family: 'Roboto', sans-serif;
  color: #C0B3A0;

}

p {
  font-size: 2em;
  font-size: 2.5vh;
  text-align: center;
  padding: 15px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #3F3250;
  color: #E14658;
  text-decoration: none;
}

.navbar-image{
  top: 0.1em;
  width: 4.5em;
  height: auto;
  position: absolute;

}

.icon-bar {
  background-color: #FFF;

}

.navbar {
  background-color: #3F3250;
}
